html{
    font-family: 'Edu SA Beginner', cursive;height: 100%
}

body{
    background-color: #F9F2ED;height: 100%;

}
.banner{
    background-image: url('./../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center     ;
    height: 600px;
    width: 100%;
}

.index-nav{
    padding: 3%;   
}



.inav{
    font-size: 1.2rem;
    color: white;
    padding: 2%;

}

.feats{
    text-align: center;
    padding: 2%;
}

.cta{
    background-color: #E04DB0;
}

.action{
    text-align: center;
    height: 200px;
    
}
.action h2{
    padding-top: 2%;
color: white;
}

footer {
    width: 100%;
    background-color: #E04DB0;
    color: #fff; 
    position: sticky;
    top: 100vh;
    place-items: center;
    padding: 1rem; 
    font-size: 1.2rem;}

/* signup/signin */
.snav{
    background-color: #E04DB0;
}

.form{
    background-color: #FFF6EA;
    padding: 2%;
    border-style: double;
    border-radius: 20px;
    border-color: #E04DB0;
    width: 50%;
    margin: 0 auto;
    color:#7F8487;
}
.form-width{
    width: 80%;
    margin: 0 auto;

}

.error{
    display:block;
    text-align: center;
    color: #C21010;
    background-color: #FF8B8B;
    border-color: #FF8B8B;
    width: 80%;
    border-radius: 20px;
    margin:0 auto;
    padding: 1%;
}